.card,
.card-container {
  width: 180px;
  height: 250px;
}

.card {
  border-radius: 5px;
  border: transparent;
  background-color: rgba(45, 51, 59, 0.5);
  border: 4px solid var(--lighter-bg-color);
}

.card-container {
  perspective: 1000px;
}

.card-container.back {
  pointer-events: none;
}

.card-container.back .card-inner {
  transform: rotateY(180deg);
}

.card-inner {
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.85s;
  animation: flip-card 0.85s;
}

.card-back {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card-name {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 8px 6px;
  font-weight: bold;
  max-width: 100%;
  text-transform: capitalize;
}
@keyframes flip-card {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
