.game-over-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  animation: fade-in 0.35s;
}

.game-over-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 18px;
  background-color: var(--lighter-bg-color);
  border-radius: 12px;
  width: 85%;
  max-width: 325px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: fade-in 0.35s, scale-up 0.35s;
}

.final-stats {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 1.1rem;
}

.final-score-number {
  color: rgba(188, 255, 152, 0.88);
  font-weight: bold;
}

.level-reached .level-number {
  color: #facc15;
  font-weight: bold;
}

.play-again {
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 1.4rem;
  background-color: #262626;
  transition: 0.2s;
  color: rgb(200, 200, 200);
  font-weight: bold;
}

.play-again:hover {
  color: rgb(221, 221, 221);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.play-again:active {
  scale: 0.95;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-up {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
