.header {
  padding: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-button {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  letter-spacing: -0.03em;
  border: 0;
  background-color: transparent;
}

.logo-button:focus {
  outline: 0;
}

.logo-button:focus-visible {
  outline: 1px solid black;
}

.logo-button:active {
  scale: 0.95;
  outline: 0;
}

header .pokeball {
  margin-bottom: 4px;
}

header .poke {
  color: #ff1616;
}

header .memo {
  color: white;
}
