header {
  background-color: var(--lighter-bg-color);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

header h1 {
  margin-bottom: 12px;
}

.stats {
  display: flex;
  gap: 16px;
}

.current-score {
  color: rgba(188, 255, 152, 0.88);
}

.best-score {
  color: rgba(255, 152, 152, 0.88);
}

.level {
  color: #facc15;
}
