header {
  background-color: var(--lighter-bg-color);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

header h1 {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

header .pokeball {
  width: 42px;
  height: 42px;
}

header .poke {
  color: #ff1616;
}

header .memo {
  color: white;
}

.stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  text-align: center;
}

.stats .divider {
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.stats .container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.current-score {
  color: rgba(188, 255, 152, 0.88);
}

.best-score {
  color: rgba(255, 152, 152, 0.88);
}

.level {
  color: #facc15;
}
