@font-face {
  font-family: Retro;
  src: url("../assets/Retro.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-bg-color: rgb(34, 39, 46);
  --lighter-bg-color: rgb(45, 51, 59);
  --text-color: rgb(212, 216, 221);
  background-color: var(--main-bg-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
}

button {
  color: var(--text-color);
}

.pointer-events-none {
  pointer-events: none;
}

.App,
#root {
  height: 100%;
}

button {
  cursor: pointer;
}

button:focus-visible {
  outline: 1px solid skyblue;
}
