* {
  color: var(--text-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-bg-color: rgb(34, 39, 46);
  --lighter-bg-color: rgb(45, 51, 59);
  --text-color: rgb(173, 186, 199);
  background-color: var(--main-bg-color);
}

.pointer-events-none {
  pointer-events: none;
}

.App,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

button:focus-visible {
  outline: 1px solid skyblue;
}
