main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: center;
}

.game-instructions {
  margin-bottom: 16px;
  padding: 0 18px;
}
