.start-screen-modal-content {
  padding: 16px;
}

.github-repo:hover,
.github-repo {
  color: inherit;
  text-decoration: none;
}

.ask-text {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid black; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: -0.05em;
  animation: typing 0.9s steps(60, end), blink-caret 0.75s step-end infinite;
  text-align: center;
}

.start-options {
  display: flex;
  flex-direction: column;
}

.start-screen-modal-content form {
  margin-top: 24px;
  animation: appear 0.9s;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.level-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 8px 0;
  letter-spacing: -0.08em;
}

@keyframes appear {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    white-space: nowrap;
    width: 0;
  }

  to {
    white-space: nowrap;
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
